$imgFolder: '../images/';

//main colors
$clr-grey: rgba(39, 39, 40, 0.7);
$clr-dark-grey: rgba(38, 38, 39, 0.6);
$clr-deep-grey: #353945;
$clr-light-grey: #7C8793;
$clr-grey-block: #DADADA;
$clr-grey-calc: #EAEBEC;
$clr-black: #343537;
$clr-red: #D31136;
$clr-red-btn: #EA3232;
$clr-dark-blue: #325877;
