$imgFolder: '../images/';

//main colors
$clr-grey: rgba(39, 39, 40, 0.7);
$clr-dark-grey: rgba(38, 38, 39, 0.6);
$clr-deep-grey: #353945;
$clr-light-grey: #7C8793;
$clr-grey-block: #DADADA;
$clr-grey-calc: #EAEBEC;
$clr-black: #343537;
$clr-red: #D31135;
$clr-red-btn: #EA3232;
$clr-dark-blue: #325877;



$clr-grey-border: #D2D3D4;
$clr-menu: #1D2228;
$clr-menu--h:rgba(255, 255, 255, 0.1);
$clr-red-dark: #BE2136;
$clr-green: #35C253;
$clr-white: #ffffff;