.info {
  padding-top: 56px;
  align-items: flex-start;
  max-width: 1240px;
  margin: 0 auto;

  & .content__cap {
    text-align: unset;
  }

  &__text-block {
      margin-bottom: 16px;
      &:last-child{
          margin-bottom: 0;
      }
  }
}