.calc-simpl {
    // display: flex;
    flex-direction: column;
    // gap: 35px;
    width: 100%;
    // max-width: 480px;
    // align-items: center;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-template-areas: 
                        "fio fio"
                        "tel tel"
                        "email email"
                        "from from"
                        "dest dest"
                        "volume weight";  

& .field-username {
  grid-area: fio;
}
& .field-tel {
  grid-area: tel;
}

& .field-email {
  grid-area: email;
}                        

}