.top {
  position: relative;
  background-color: $clr-grey;
  overflow: hidden;
  display: flex;
  justify-content: center;

  &--pic {
    background: url(images/img-back.jpg);
    background-size: cover;
    background-position: center;
    // height: 416px;
  }
  
  &__video-cont {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: -11;

  }

  &__video { 
      position: absolute;
      // opacity: 0.5;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -10;
      transform: translateX(-50%) translateY(-50%);
      // background-size: cover;
      transition: 1s opacity;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 128px 30px;
    max-width: 1260px;
    flex: 1;
  }

  &__content {
    display: flex;
    margin-top: 58px;
    justify-content: space-between;
  }
  &__caption {
    flex: 1 1 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 570px;
  }
  &__title {
      color: #ffffff;
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 120%;
      max-width: 570px;
  }

  &__tagline {
      color: #ffffff;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.01em;
  }

}